{% extends "base.html" %}
{% block content %}

<title>Home</title>
<body class="w3-container">
    <h1>Welcome</h1>
    {% if session['user'] %}
        <p>You are logged in as {{ session['user'].name }}!</p>
        <a href="{{ url_for('create_event') }}" class="w3-button w3-green">Create Event</a>
        <a href="{{ url_for('join_event') }}" class="w3-button w3-green">Join Event</a>
        <a href="{{ url_for('logout') }}" class="w3-button w3-red">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}" class="w3-button w3-blue">Login</a>
        <a href="{{ url_for('register') }}" class="w3-button w3-green">Register</a>
    {% endif %}

    {% if events %}
        <h2>Events</h2>

        {% for event in events %}
           <a href="{{ url_for('event', event_id=event[0]) }}">{{ event[1] }}</a>
            <br>
            <br>
        {% endfor %}
    {% endif %}
</body>
</html>

{% endblock %}